<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Shtudy</title>
	<meta name="description" content="creating the biggest basic academic repository">
	<meta name="author" content="kenneth">
	
	<link rel="stylesheet" href="./css/main.css">
	

</head>

<body>
